<html xmlns:wicket>
<wicket:panel>
  
  		    <span id="graveyard-content">
    			<span id="graveyard" class="tour_7">
	   			<div id="graveyard-page-wrap">
                    <span id="graveyardCardLabel" class="cardLabelFont"></span>

                    <div class="slider-wrap">
                        <div id="graveyard-main-photo-slider" class="csw">
                            <div class="panelContainer">
							<span wicket:id="graveyardCardsPlaceholder">
								<span wicket:id="graveyardCards">
									<div class="panel">
                                        <div wicket:id="wrapper" class="wrapper">
                                            <img wicket:id="graveyardImagePlaceholder" id="#"></img>
                                        </div>
                                    </div>
								</span>
							</span>
                            </div>
                        </div>
                        <div wicket:id="thumbsPlaceholder">
                            <div wicket:id="thumbs" id="movers-row">
                                <div wicket:id="crossLinkDiv"><span wicket:id="crossLink" class="graveyard-cross-link"
                                                                    style="cursor: pointer;"><img
                                        wicket:id="thumbPlaceholder" class="graveyard-nav-thumb"></img></span></div>
                            </div>
                        </div>
                        <br/>
                    </div>
                    <br/>
                </div>
                    <span wicket:id="putToZonePanel" style="position:absolute; top:27%; left: 260px;"></span>
                </span>
			</span>
</wicket:panel>
</html>
  