#allCardsParent{
	position:absolute;
	bottom:7%; /* 7% and 15 % from codeUnderTest.js responsiveCards() */
	top: 15%;
	display:flex;
	flex-direction: column;
	width: 100%;
}
#allCardsParent>*{
	flex:1;
}
.cards{
    list-style: none;
    display:flex;
}
.ui-state-highlight{ min-width:100px; }
.cardContainer, .ui-state-highlight {
    display: block;
    position: relative;
    margin: 2px;
    flex: 1;
}
.cardContainer .magicCard{
    display:block;
    margin:auto;
    width:70%;
    height:100%;
    z-index:1;
    transition: 0.8s all cubic-bezier(0.8,-0.3,0.2,1.3);
}
.cardContainer .cardActions{
    display:block;
    position:absolute;
    height:15%;
    width: 15%;
    top:0;
    right:0;
    background-size:100%;
	cursor: pointer;
    transition: 0.8s all cubic-bezier(0.8,-0.3,0.2,1.3);
}
.gallery .cardActions{
    background-image:url(/image/playCard.png);
}
.battlefieldCardsForSide1 .cardActions, .battlefieldCardsForSide2 .cardActions{
    background-image:url(/image/rightArrow.png);
}
.cardContainer:not(.tapped) {
	transition: 0.8s all cubic-bezier(0.8,-0.3,0.2,1.3);
    transform: scale(1) rotate(0deg);
}
.cardContainer.tapped .magicCard { 
	transition: 0.8s all cubic-bezier(0.8,-0.3,0.2,1.3);
	transform: rotate(90deg);
}
.cardContainer.tapped .cardActions { 
	transition: 0.8s all cubic-bezier(0.8,-0.3,0.2,1.3);	
	transform: scale(-1, 1);
}
.cardContainer.details {
	transition: 0.8s all cubic-bezier(0.8,-0.3,0.2,1.3);
	transform: scale(2); 
}
.cardContainer.details.tapped {
	transition: 0.8s all cubic-bezier(0.8,-0.3,0.2,1.3);
    transform: scale(2) rotate(-90deg);
}