/*
	Featured Content Slider
	by: Chris Coyier
*/			  				  
/*
	UTILITY STYLES
*/				  				  
					  				  
.floatLeft 									{ float: left; margin-right: 10px;}
.floatRight									{ float: right; }
.clear 										{ clear: both; }
a											{ outline: none; }


/*
	PAGE STRUCTURE
#page-wrap 									{ width: 262px; margin: 25px auto; position: relative; min-height: 420px;
											  background: url(/image/bg.png) top center; }
*/
#page-wrap 									{ width: 262px; margin: 25px auto; position: absolute; top: 3%; left: 75%; min-height: 420px;
											  background: url(/image/bg.png) top center; }
#graveyard-page-wrap 									{ width: 262px; margin: 25px auto; position: absolute; top: 25%; left: 75%; min-height: 420px;
											  background: url(/image/tombe1.png) top center; }
/*
	TYPOGRAPHY
*/
ul											{ list-style: square inside; }
/*a, a:visited								{ color: #729dff; text-decoration: none; }*/
a:hover, a:active							{ color: white; }
blockquote									{ padding: 0 20px; margin-left: 20px; border-left: 20px solid #ccc; font-size: 14px; 
									  		  font-family: Georgia, serif; font-style: italic; margin-top: 10px;}

/*
	SLIDER
*/
.slider-wrap								{ width: 419px; position: absolute; top: 30px; left: 20px; }			
.stripViewer .panelContainer 
.panel ul									{ text-align: left; margin: 0 15px 0 30px; }
.stripViewer								{ position: relative; overflow: hidden; width: 419px; height: 320px; }
.stripViewer .panelContainer				{ position: relative; left: -1px; top: 0; }
.stripViewer .panelContainer .panel			{ float: left; height: 360px; position: relative; width: 440px; }
.stripNavL, .stripNavR, .stripNav			{ display: none; }
.stripNavLGraveyard, .stripNavRGraveyard, .stripNavGraveyard			{ display: none; }
.nav-thumb 									{ border: 1px solid black; margin-right: 5px; }
#movers-row									{ margin: 30px 0 0 0; }
#movers-row div								{ width: 7%; float: left; }
#movers-row div a.cross-link 				{ float: right; }
.photo-meta-data							{ background: url(/image/transpBlack.png); padding: 5px; height: 65px; 
											  margin-top: -40px; width: 214px; z-index:555; color: black; }
.photo-meta-data span 						{ font-size: 13px; }
.cross-link									{ display: block; width: 23px; margin-top: 0px; 
											  position: relative; padding-top: 0px; z-index: 2; }
.active-thumb 								{ background: transparent url(/image/icon-uparrowsmallwhite.png) top center no-repeat; }
.active-thumbGraveyard						{ background: transparent url(/image/icon-uparrowsmallwhite.png) top center no-repeat; }

.wrapper-image								{ position:relative; }
.play-card-link								{ z-index: 555; position: absolute; cursor: pointer; }
