<wicket:panel>

		<div style="position:absolute; left: 15%;">
			<br/><br/>
			<img wicket:id="img1"></img>
			<br/><br/>
			<form wicket:id="form" action="">
				<span wicket:id="text1"></span><br/><br/>
				<span wicket:id="text2"></span><br/><br/>
				<span wicket:id="text3"></span><br/><br/>
				<span wicket:id="text4"></span><br/><br/>
				<a wicket:id="link" href="#" target="_blank">GNU Affero General Public License, version 3</a><br/><br/>
				<a wicket:id="whyLink" href="#" target="_blank">Why this license?</a><br/><br/>
				<input wicket:id="submit" type="submit">
				</input><br/><br/>
			</form>
		</div>
		
</wicket:panel>