<wicket:panel>

		<div style="position:absolute; left: 15%;">
			<br/>
			<img wicket:id="img1"></img>
			<br/><br/>
			<form wicket:id="form" action="" class="myfont">
				<span wicket:id="text1"></span><br/><br/>
				<span wicket:id="text2"></span><br/><br/>
				<span wicket:id="text3"></span><br/><br/>
				<span wicket:id="text4"></span><br/><br/>
				<a wicket:id="link" target="_blank">GNU Affero General Public License, version 3</a><br/>
				<a wicket:id="whyLink" target="_blank">Why this license?</a><br/><br/>
				<button wicket:id="submit" type="submit" class="myfont">OK</button>
			</form>
		</div>
		
</wicket:panel>