<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
        xml:lang="en"
        lang="en">
<wicket:head>
    <script>

    jQuery(document).ready(function() {
            function callbackChatPanel(response) {
                // Websocket events.
                if (response.transport != 'polling' && response.state != 'connected' && response.state != 'closed') {
                    if (response.status == 200) {
                        var data = response.responseBody;
                        var s= data.split("said")[1];
						var t = data.split("###")[1];
						var u = data.split("1#####")[1];

						
                        if ((typeof s != "undefined")
							&& (typeof t != "undefined")
							&& (typeof u == "undefined")) { // We're in the chat Meteor
                        	document.getElementById('chat').innerHTML =
                        		document.getElementById('chat').innerHTML + "\n" + t+ "\n";
                        }
                    }
                }
            }

            // You can set websocket, streaming or long-polling here.
//            jQuery.atmosphere.subscribe(document.getElementById('chatStart').href,
//            		callbackChatPanel,
//                    jQuery.atmosphere.request = {transport: 'streaming'});
        });
    </script>
</wicket:head>
<wicket:panel>
    <a wicket:id="chatStart" id="chatStart"></a>
	<form wicket:id="chatForm" action="">
		<textarea id="chat" cols="45" rows="10" readonly="readonly"></textarea><br/><br/>
		Your name: <input wicket:id="user" type="text"></input><br/>
		Message:&nbsp;&nbsp;&nbsp;&nbsp;<input wicket:id="message" type="text"></input><br/>
		<input wicket:id="submit" type="submit"></input>
	</form>
    <div>
	<iframe id="comet-frame" style="display: none;"></iframe>
    </div>
</wicket:panel>
</html>