<!doctype html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
        xml:lang="en"
        lang="en">
<wicket:head>
</wicket:head>

<wicket:panel>
    <form wicket:id="chatForm" action="">
        <span class="myfont black">Chat: </span><br/>
        <textarea id="chat" cols="30" rows="10" readonly="readonly" class="myfont black"></textarea><br/><br/>
        <span class="myfont">Your name: </span><input wicket:id="user" type="text" class="myfont black"></input><br/>
        <span class="myfont">Message:&nbsp;&nbsp;&nbsp;&nbsp;</span><input wicket:id="message" type="text"
                                                                           class="myfont black"></input><br/>
        <input wicket:id="submit" type="submit" class="myfont black" value="&nbsp;&nbsp;Send&nbsp;&nbsp;"></input>
    </form>
</wicket:panel>

</html>