<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
        xml:lang="en"
        lang="en">
        	
<wicket:head>

</wicket:head>

<wicket:panel>
	<span wicket:id="image" id="image">
		<img wicket:id="handImagePlaceholder" id="#" class="wrapper-image" src="#" alt="#"></img>
		<img wicket:id="handImageLink" id="#" class="play-card-link"/>
		<div class="photo-meta-data">
			<span wicket:id="name"></span><br/>
			<span wicket:id="comment"></span>
		</div>
		<span wicket:id="cardParent"><span wicket:id="cardPlaceholder"></span></span>
	</span>
</wicket:panel>
</html>