<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
        xml:lang="en"
        lang="en">
<wicket:head>
    
	<script>
    jQuery(document).ready(function() {
            function callbackClock(response) {
                if (response.transport != 'polling' && response.state != 'connected' && response.state != 'closed') {
                    if (response.status == 200) {
                        var data = response.responseBody;
                        var s = data.split("1#####")[1];
                        if (typeof s != "undefined") { // We're in the chat Meteor
                        	document.getElementById('clock').innerHTML = s;
                        }
                    }
                }
            }

            // You can set websocket, streaming or long-polling here.
            jQuery.atmosphere.subscribe(document.getElementById('cometStart').href,
                    callbackClock,
                    jQuery.atmosphere.request = {transport: 'streaming'});
        });
    </script>

</wicket:head>
<wicket:panel>
    <a wicket:id="cometStart" id="cometStart"></a>

    <div wicket:id="clock" id="clock">99:99:99</div>
	<br/><br/>
    <div>
    <iframe id="cometFrame" name="cometFrame" width="0" height="0" border="0" style="border-width: 0px">
    </iframe>
    </div>
</wicket:panel>
</html>