<wicket:panel>

		<div style="position:absolute; left: 15%;">
			<form wicket:id="form" action="">
				
				<br/><br/><span wicket:id="chooseDeck">Choose a deck</span><select wicket:id="decks"></select><br/><br/>
				
				<span wicket:id="nameLabel">Your name</span><input wicket:id="name" type="text"></input><br/><br/>
				
				<span wicket:id="sideLabel">Your side</span><select wicket:id="sideInput"></select><br/><br/>

				<b><span wicket:id="gameId">Id of the Game</span><br/><br/></b>
				
				<button wicket:id="submit" type="submit">OK</button>
				
			</form>
		</div>
		
</wicket:panel>