<html xmlns:wicket>
<wicket:panel>
  
  		    <span id="graveyard-content">
    			<span id="graveyard" class="tour_7">
	   			<div id="graveyard-page-wrap">
					<span id="graveyardCardLabel" class="cardLabelFont" style="z-index: 1024; position:absolute; top: 345px; left:15px;"></span>
					<div class="slider-wrap">
						<div id="graveyard-main-photo-slider" class="csw">
							<div class="panelContainer">
							<span wicket:id="graveyardCardsPlaceholder">
								<span wicket:id="graveyardCards">
									<div class="panel">
										<div wicket:id="wrapper" class="wrapper">
											<img wicket:id="graveyardImagePlaceholder" id="#"></img>
										</div>
									</div>
								</span>
							</span>
							</div>
						</div>
						<div wicket:id="thumbsPlaceholder">
							<div wicket:id="thumbs" id="movers-row">
								<div wicket:id="crossLinkDiv"><span wicket:id="crossLink" class="graveyard-cross-link" style="cursor: pointer;"><img wicket:id="thumbPlaceholder" class="graveyard-nav-thumb"></img></span></div>
							</div>
						</div>
					</div>
				</div>
				</span>
			</span>
		
</wicket:panel>
</html>
  