<html xmlns:wicket>
<wicket:panel>
  
			<a wicket:id="playCardPage" id="playCard"></a>
  
  		    <span id="content">
    			<span id="gallery" class="tour_7">
	   			<div id="page-wrap">
						
					<div class="slider-wrap">
						<div id="main-photo-slider" class="csw">
							<div class="panelContainer">
							<span wicket:id="handCardsPlaceholder">
								<span wicket:id="handCards">
									<div class="panel">
										<div wicket:id="wrapper" class="wrapper">
											<!--<a wicket:id="linkOnCard" id="#" href="#"><img src="image/playCard.png"></img></a>-->
											<img wicket:id="handImagePlaceholder" id="#"></img>
											<div wicket:id="titlePlaceholder" class="photo-meta-data"></div>
										</div>
									</div>
								</span>
							</span>
							</div>
						</div>
						<div wicket:id="thumbsPlaceholder">
							<div wicket:id="thumbs" id="movers-row">
								<div wicket:id="crossLinkDiv"><a wicket:id="crossLink" href="#" class="cross-link"><img wicket:id="thumbPlaceholder" class="nav-thumb"></img></a></div>
							</div>
						</div>
					</div>
				</div>
				</span>
			</span>
		
</wicket:panel>
</html>
  