<html xmlns:wicket>
<wicket:panel>

	<span wicket:id="parent">
			<img wicket:id="handleImage"></img>
  		    <span id="content">
  		    	<a wicket:id="closeHand" href="#"><img src="image/closeTooltip.png" style="position:relative; top: 110px; left: 220px;" alt="close hand"></img></a>
    			<span id="gallery" class="tour_7">
		   			<div wicket:id="page-wrap" id="page-wrap">
						<span id="cardLabel" class="cardLabelFont" style="z-index: 1024; position:absolute; top: 345px; left:15px;"></span>
						<div class="slider-wrap">
							<div wicket:id="slider" id="main-photo-slider" class="csw">
								<div class="panelContainer">
								<span wicket:id="handCardsPlaceholder">
									<span wicket:id="handCards">
										<div class="panel">
											<div wicket:id="wrapper" class="wrapper">
												<img wicket:id="handImagePlaceholder" id="#"></img>
											</div>
										</div>
									</span>
								</span>
								</div>
							</div>
							<div wicket:id="thumbsPlaceholder">
								<div wicket:id="thumbs" id="movers-row" class="movers-row">
									<div wicket:id="crossLinkDiv"><span wicket:id="crossLink" class="cross-link" style="cursor: pointer;"><img wicket:id="thumbPlaceholder" class="nav-thumb"></img></span></div>
								</div>
							</div><br/>
						</div><br/>
						<span wicket:id="putToZonePanel" style="position:absolute; top:95%; left: 15px;"></span>
					</div>
					
				</span>
			</span>
	</span>	
</wicket:panel>
</html>