<!doctype html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
        xml:lang="en"
        lang="en">
<wicket:panel>
			<span class="tooltip">
				
				<pre class="tip" id="status2"></pre><a wicket:id="closeTooltip" href="#"><img
                    src="image/closeTooltip.png" style="position:relative; top: -470px; left: 360px;"
                    alt="close tooltip"></img></a>
				<img wicket:id="bubbleTipImg1" width="339" height="480" style="position:relative;">
                </img><br/>
			
				<span wicket:id="counterPanel"></span>
				
		</span>
</wicket:panel>
</html>