<wicket:panel>

		<div style="position:absolute; left: 28%;">
			<br/><img wicket:id="topLibraryCard"></img><br/>
			<br/><br/><br/>
			
			<form wicket:id="form" action="" class="myfont">
				<button wicket:id="doNothing" type="submit" class="myfont">Do nothing</button> <br/><br/>
				<button wicket:id="putToBattlefield" type="submit" class="myfont">Play this card</button> <br/><br/>
				<button wicket:id="putToHand" type="submit" class="myfont">Put to hand</button> <br/><br/>
				<button wicket:id="putToGraveyard" type="submit" class="myfont">Put to graveyard</button> <br/><br/>
			</form>
		</div>
		
</wicket:panel>