<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
        xml:lang="en"
        lang="en">

<wicket:panel>
	
	<span wicket:id="sidePlaceholder" id="sidePlaceholder" style="position:absolute;">
		<form wicket:id="form">
			<input wicket:id="jsessionid" id="jsessionid" type="text" style="display: none;"></input>
			<input wicket:id="mouseX" id="mouseX" type="text" style="display: none;"></input>
			<input wicket:id="mouseY" id="mouseY" type="text" style="display: none;"></input>
			<img wicket:id="handleImage" class="ui-widget-header" style="cursor: move"></img>
			<img wicket:id="sidePlaceholderImage" id="sidePlaceholderImage"></img>
		</form>
	</span>
	
</wicket:panel>
</html>