<wicket:panel>

		<div style="position:absolute; left: 10%;">
			<br/>
			<img wicket:id="img1"></img>
			<br/><br/>
			<form wicket:id="form" action="" class="myfont">
				<span wicket:id="founder"></span><br/><br/>
				<span wicket:id="lead"></span><br/><br/>
				<span wicket:id="dev1"></span><br/><br/>
				<span wicket:id="gfx"></span><br/><br/>
				<span wicket:id="tester1"></span><br/><br/>
				<span wicket:id="tester2"></span><br/><br/>
				<button wicket:id="submit" type="submit" class="myfont">OK</button>
			</form>
		</div>
		
</wicket:panel>