<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
        xml:lang="en"
        lang="en">
<wicket:panel>
			<span class="cardTooltip">
				
				<pre class="tip" id="status2"></pre><a wicket:id="closeTooltip" href="#"><img src="image/closeTooltip.png" style="position:relative; z-index: 5000; top: -480px; left: 360px;"></img></a>
				</img><br/><br/>
				Token : <span wicket:id="tokenType" class="myfont"></span><br/><br/>
				Token : <span wicket:id="tokenType" class="tokenPower"></span><br/><br/>
				Token : <span wicket:id="tokenType" class="tokenThoughness"></span><br/><br/>
				Token : <span wicket:id="tokenType" class="tokenColors"></span><br/><br/>
				Token : <span wicket:id="tokenType" class="tokenDescription"></span><br/><br/>
			</span>
		</span>
</wicket:panel>
</html>