<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
        xml:lang="en"
        lang="en">
<wicket:panel>
		<pre class="tip" id="status2"></pre>
		<img wicket:id="bubbleTipImg1" width="339" height="480"  style="position:relative; z-index: 5000;">
		</img><br/>
		<span wicket:id="bubbleTipText1" style="position:relative; z-index: 5000; color:white"></span>
</wicket:panel>
</html>