<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
        xml:lang="en"
        lang="en">
<wicket:panel>
			<span class="tooltip">
				
				<pre class="tip" id="status2"></pre><a wicket:id="closeTooltip" href="#"><img src="image/closeTooltip.png" style="position:relative; top: -470px; left: 360px;"></img></a>
				<img wicket:id="bubbleTipImg1" width="339" height="480"  style="position:relative;">
				</img><br/>
				<span class="myfont">Add counter : </span>
				<form wicket:id="form">
					<input wicket:id="counterAddName" type="text" class="myfont"></input>&nbsp;&nbsp;
					<button wicket:id="submit" type="submit" class="myfont">Submit</button>
				</form> 
				<br/><br/> 
				<span wicket:id="counters" class="myfont">
					<span wicket:id="counterName"></span> counter :  
					<span wicket:id="numberOfCounters">
					</span>
					&nbsp;
					<a wicket:id="addCounterLink" href="#">
						<img wicket:id="counterPlus" title="add 1 counter"></img>&nbsp;
					</a>
					<a wicket:id="removeCounterLink" href="#">
						<img wicket:id="counterMinus" title="remove 1 counter"></img>
					</a>
					<br/><br/>
				</span>
		</span>
</wicket:panel>
</html>