<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

	<wicket:panel>

		<span wicket:id="cardInBattlefieldContextMenu" id="cardInBattlefieldContextMenu" class="cardInBattlefieldContextMenu">
            <span class="pop_ctrl" style="cursor: default;"><i class="myfont cardActions cardMenu" title="Open context menu">&nbsp;&nbsp;&nbsp;<br/>&nbsp;&nbsp;&nbsp;</i></span>
            <ul id="demo_ul" style="position: absolute; margin-top: -50px; margin-left: 0px; background: none repeat scroll 0% 0%; width: 300px; float: left; padding: 0px; border-radius: 10px; display: none;">
                <li wicket:id="putToHand" class="demo_li" style="display: block; float: left; width: 100px; height: 100px; text-align: center; border-radius: 10px; background: none repeat scroll 0% 0%; cursor: default;"><span><br/><img src="/image/putToHand.png"/><div class="myfont"><br/>Put to hand<br/></div></span></li>
                <li wicket:id="putToGraveyard" class="demo_li" style="display: block; float: left; width: 100px; height: 100px; text-align: center; border-radius: 10px;"><span><br/><img src="/image/putToGraveyard.png"/><div class="myfont">Put to graveyard</div></span></li>
                <li wicket:id="putToExile" class="demo_li" style="display: block; float: left; width: 100px; height: 100px; text-align: center; border-radius: 10px;"><span><br/><img src="/image/putToExile.png"/><div class="myfont"><br/>Put to exile<br/></div></span></li>
                <li wicket:id="destroyToken" class="demo_li" style="display: block; float: left; width: 100px; height: 100px; text-align: center; border-radius: 10px;"><span><br/><img src="/image/putToExile.png"/><div class="myfont"><br/>Destroy token<br/></div></span></li>
            </ul>
        </span>	

	</wicket:panel>
</html>