<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       default-autowire="byName"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd"
       xmlns:p="http://www.springframework.org/schema/p">

    <!--
    allow the use of properties from application.properties
     throughout this configuration file
-->
    <!--	<bean id="placeholderConfig"
              class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
            <property name="location"><value>classpath:application.properties</value></property>
            <property name="systemPropertiesModeName"><value>SYSTEM_PROPERTIES_MODE_OVERRIDE</value></property>
        </bean>-->



    <!--
             _       _
          __| | __ _| |_ __ _   ___  ___  _   _ _ __ ___ ___
         / _` |/ _` | __/ _` | / __|/ _ \| | | | '__/ __/ _ \
        | (_| | (_| | || (_| | \__ \ (_) | |_| | | | (_|  __/
         \__,_|\__,_|\__\__,_| |___/\___/ \__,_|_|  \___\___|
     -->



    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="shutdown">
        <!--<property name="dataSourceClassName" value="org.mariadb.jdbc.MySQLDataSource"/>-->
        <property name="driverClassName" value="org.mariadb.jdbc.Driver"/>
        <property name="connectionTestQuery" value="SELECT 1"/>
        <property name="jdbcUrl" value="jdbc:mariadb://localhost:3306/hhTest"/>
        <property name="username" value="less"/>
        <property name="password" value="more"/>
    </bean>
    
    <bean id="flyway" class="org.flywaydb.core.Flyway" init-method="info">
    	<property name="dataSource" ref="dataSource"/>
	</bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>

        <property name="annotatedClasses">
            <list>
                <value>org.alienlabs.hatchetharry.model.CardCollection</value>
                <value>org.alienlabs.hatchetharry.model.CollectibleCard</value>
                <value>org.alienlabs.hatchetharry.model.Deck</value>
                <value>org.alienlabs.hatchetharry.model.DeckArchive</value>
                <value>org.alienlabs.hatchetharry.model.Game</value>
                <value>org.alienlabs.hatchetharry.model.MagicCard</value>
                <value>org.alienlabs.hatchetharry.model.Player</value>
                <value>org.alienlabs.hatchetharry.model.Side</value>
                <value>org.alienlabs.hatchetharry.model.Counter</value>
                <value>org.alienlabs.hatchetharry.model.Token</value>
                <value>org.alienlabs.hatchetharry.model.Arrow</value>
                <value>org.alienlabs.hatchetharry.model.ConsoleLogMessage</value>
                <value>org.alienlabs.hatchetharry.model.User</value>
                <value>org.alienlabs.hatchetharry.model.ChatMessage</value>
            </list>
        </property>

        <property name="hibernateProperties">
            <props>
                <!--  create-drop= provide database model at start-up by dropping tables, update= no start-up data model modification -->
                <prop key="hibernate.hbm2ddl.auto">create-drop</prop>
                <prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                <prop key="jdbc.driverClassName">org.mariadb.jdbc.Driver</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.bytecode.use_reflection_optimizer">true</prop>
                <prop key="hibernate.hikari.dataSource.cachePrepStmts">true</prop>
                <prop key="hibernate.hikari.dataSource.prepStmtCacheSize">250</prop>
                <prop key="hibernate.hikari.dataSource.prepStmtCacheSqlLimit">2048</prop>
                <prop key="hibernate.hikari.dataSource.useServerPrepStmts">true</prop>
                <prop key="hibernate.hikari.minimumPoolSize">5</prop>
                <prop key="hibernate.hikari.maximumPoolSize">5</prop>
                <prop key=" hibernate.hikari.idleTimeout">30000</prop>
                <!-- We tell Hibernate that we use EhCache as a second-level cache -->
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</prop>
                <prop key="hibernate.cache.use_structured_entries">true</prop>
                <prop key="hibernate.cache.generate_statistics">true</prop>
                <!-- To avoid "Deadlock found when trying to get lock; try restarting transaction" -->
                <prop key="hibernate.jdbc.batch_size">100</prop>
                <prop key="hibernate.order_inserts">true</prop>
                <prop key="hibernate.order_updates">true</prop>
                <prop key="hibernate.event.merge.entity_copy_observer">allow</prop>
            </props>
        </property>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>


</beans>
