<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">

	<!-- beans can't come before imports so have to have these in an import -->
	<import resource="classpath:common.xml"/>
	<import resource="classpath:persistence.hibernate.xml"/>

	<!-- To mark a bean property as being 'required-to-be-set' (i.e. an annotated (setter) method of a class must be configured
		to be dependency injected with a value), else an Exception will be thrown by the Spring container at runtime.
	-->
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

    <!-- setup wicket application -->
    <bean id="wicketApplication" class="org.alienlabs.hatchetharry.HatchetHarryApplication">
    </bean>
        
	<!-- setup data generator that will add some data into the db when the app starts up -->
	<bean id="dataGenerator" class="org.alienlabs.hatchetharry.service.DataGenerator">
		<property name="deckDao" ref="deckDao"/>
		<property name="deckArchiveDao" ref="deckArchiveDao"/>
		<property name="collectibleCardDao" ref="collectibleCardDao"/>
		<property name="magicCardDao" ref="magicCardDao"/>
		<property name="cardCollectionDao" ref="cardCollectionDao"/>
		<property name="persistenceService" ref="persistenceService"/>
		<property name="generateData" value="true"/>
		<property name="generateCardCollection" value="false"/>
	</bean>
	
	<bean id="applicationContextHolderTarget" class="org.alienlabs.hatchetharry.ApplicationContextHolder">
	</bean>
	<bean id="applicationContextHolderProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager"/>
		<property name="target" ref="applicationContextHolderTarget"/>
		<property name="transactionAttributes">
			<props>
				<prop key="save">PROPAGATION_REQUIRED</prop>
				<prop key="delete">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
    </bean>
</beans>
