<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       default-autowire="byName"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--
    allow the use of properties from application.properties
     throughout this configuration file
-->
    <!--	<bean id="placeholderConfig"
              class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
            <property name="location"><value>classpath:application.properties</value></property>
            <property name="systemPropertiesModeName"><value>SYSTEM_PROPERTIES_MODE_OVERRIDE</value></property>
        </bean>-->

    <!--
             _       _
          __| | __ _| |_ __ _   ___  ___  _   _ _ __ ___ ___
         / _` |/ _` | __/ _` | / __|/ _ \| | | | '__/ __/ _ \
        | (_| | (_| | || (_| | \__ \ (_) | |_| | | | (_|  __/
         \__,_|\__,_|\__\__,_| |___/\___/ \__,_|_|  \___\___|
     -->

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="org.mariadb.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mariadb://localhost:3306/hhTest?generateSimpleParameterMetadata=true"/>
        <property name="user" value="less"/>
        <property name="password" value="more"/>

        <!-- these are C3P0 properties -->
        <property name="acquireIncrement" value="10"/>
        <property name="initialPoolSize" value="20"/>
        <property name="minPoolSize" value="20"/>
        <property name="maxPoolSize" value="500"/>
        <property name="maxIdleTime" value="120"/>
        <property name="maxIdleTimeExcessConnections" value="120"/>
        <property name="idleConnectionTestPeriod" value="3000"/>
        <property name="maxStatements" value="200"/>
        <property name="numHelperThreads" value="20"/>
        <property name="unreturnedConnectionTimeout" value="120"/>
        <property name="maxConnectionAge" value="20"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>

        <property name="annotatedClasses">
            <list>
                <value>org.alienlabs.hatchetharry.model.CardCollection</value>
                <value>org.alienlabs.hatchetharry.model.CollectibleCard</value>
                <value>org.alienlabs.hatchetharry.model.Deck</value>
                <value>org.alienlabs.hatchetharry.model.DeckArchive</value>
                <value>org.alienlabs.hatchetharry.model.Game</value>
                <value>org.alienlabs.hatchetharry.model.MagicCard</value>
                <value>org.alienlabs.hatchetharry.model.Player</value>
                <value>org.alienlabs.hatchetharry.model.Side</value>
                <value>org.alienlabs.hatchetharry.model.Counter</value>
                <value>org.alienlabs.hatchetharry.model.Token</value>
                <value>org.alienlabs.hatchetharry.model.Arrow</value>
                <value>org.alienlabs.hatchetharry.model.ConsoleLogMessage</value>
                <value>org.alienlabs.hatchetharry.model.User</value>
                <value>org.alienlabs.hatchetharry.model.ChatMessage</value>
            </list>
        </property>

        <property name="hibernateProperties">
            <props>
                <!--  create= provide database model at start-up by dropping tables, update= no start-up data model modification -->
                <prop key="hibernate.hbm2ddl.auto">create</prop>
                <prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
                <prop key="jdbc.driverClassName">org.mariadb.jdbc.Driver</prop>
                <prop key="jdbc.url">jdbc:mysql://localhost:3306/hhTest?generateSimpleParameterMetadata=true</prop>
                <prop key="jdbc.username">less</prop>
                <prop key="jdbc.password">more</prop>
                <prop key="hibernate.connection.pool_size">100</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.bytecode.use_reflection_optimizer">true</prop>
                <prop key="validation.query">select 1</prop>
                <prop key="hibernate.c3p0.timeout">300</prop>
                <prop key="hibernate.c3p0.idle_test_periods">150</prop>
                <!-- We tell Hibernate that we use EhCache as a second-level cache -->
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</prop>
                <prop key="hibernate.cache.use_structured_entries">true</prop>
                <prop key="hibernate.cache.generate_statistics">true</prop>
                <!-- To avoid "Deadlock found when trying to get lock; try restarting transaction" -->
                <prop key="hibernate.jdbc.batch_size">100</prop>
                <prop key="hibernate.order_inserts">true</prop>
                <prop key="hibernate.order_updates">true</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>
