<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head profile="http://www.w3.org/2005/10/profile">
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
	<title>HatchetHarry - Ad augusta per angusta</title>
	
	<link rel="stylesheet" href="http://code.jquery.com/qunit/git/qunit.css" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="stylesheet/menu_black.css"/>
	<link rel="stylesheet" type="text/css" href="stylesheet/jquery.jquerytour.css"/>
	<link rel="stylesheet" type="text/css" href="stylesheet/myStyle.css"/>
	<link rel="stylesheet" type="text/css" href="stylesheet/galleryStyle.css"/>
	<link rel="stylesheet" type="text/css" href="stylesheet/jquery.gritter.css"/> 
	
	<link rel="shortcut icon" href="http://hatchetharry.net/favicon.ico" />
    
    <!-- The toolbar at the bottom of the page -->
    <link type="text/css"  rel="stylesheet" href="stylesheet/fixed4all.css"/> 
	<link href="stylesheet/fixed4ie.css" rel="stylesheet" type="text/css">
		
	<link rel="stylesheet" href="stylesheet/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
	<link rel="stylesheet" href="stylesheet/toolbarStyle.css" type="text/css" /> 
	<link rel="stylesheet" href="stylesheet/tipsy.css" type="text/css" /> 
</head>
<body class="yui-skin-sam" id="yahoo-com">

  <span wicket:id="headResources"></span>
  
  <!-- Menus -->
  
  <!-- The main (desktop) menu bar -->
  <div id="tour_5"> 
	  <table width="100%"  border="0" cellpadding="0" cellspacing="0" bgcolor="#989898" id="menubar">
	    <tr id="tour_1">
	      <td valign="bottom">
	        <table  border="0" cellpadding="0" cellspacing="0" bgcolor="#000000" class="container">
	          <tr>
	            <td class="myMenu">
	
	              <!-- start horizontal menu -->
	
	              <table class="rootVoices" cellspacing='0' cellpadding='0' border='0'>
	              <tr>
	                <td class="rootVoice {menu: 'box_menu'}" ><img src="/image/logoh2.gif" alt="HH" width="32"></td>
	                <td class="rootVoice {menu: 'menu_2'}" >Documentation</td>
	                <td class="rootVoice {menu: 'menu_3'}" >Game</td>
	              </tr>
	              </table>
	
	              <!-- end horizontal menu -->
	
	            </td>
	          </tr>
	        </table>
	      </td>
	    </tr>
	  </table>
	  <span></span>
	  <br/>
	  
	  <div id="menu_2" class="mbmenu">
	    <a class="{action: 'showMessage(\'menu_2.1\')', img: 'icon_13.png'}">Official Magic(tm) rules</a>
	    <a class="{action: 'showMessage(\'menu_2.2\')'}">HatchetHarry documentation</a>
	    <a class="{menu: 'sub_menu_1', img: 'icon_14.png'}">Browse cards database</a>
	    <a rel="separator"> </a>
	    <a class="{menu: 'sub_menu_2', img: '24-tag-add.png'}">New and old rules</a>
	  </div>
	
	  <div id="menu_3" class="mbmenu">
	    <a  wicket:id="createGameLink" class="{action: 'showMessage(\'menu_2.2\')'}">
	        <img src="/image/browser.png" alt="" style="position:absolute;margin-top:-20px; margin-left:-25px;margin-bottom:10px"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create a game<br/>
	    </a>
		<a wicket:id="joinGameLink" class="{action: 'showMessage(\'menu_2.3\')'}">
	        <img src="/image/browser.png" alt="" style="position:absolute;margin-top:-20px; margin-left:-25px;margin-bottom:10px"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Join a game<br/>
	    </a>
	    <a rel="separator"> </a>
	    <a id="aaa" class="{menu:'sub_menu_3'}">Mana</a>
	    <a class="{menu:'sub_menu_4', action: 'showMessage(\'menu_3.4\')'}">Cards</a>
	  </div>
	
	  <div id="sub_menu_1" class="mbmenu">
	    <a class="{action: 'showMessage(\'sub_menu_1.1\')'}">sub_menu_1.1</a>
	    <a rel="separator"> </a>
	    <a class="{action: 'showMessage(\'sub_menu_1.2\')'}">sub_menu_1.2</a>
	    <a class="{action: 'showMessage(\'sub_menu_1.3\')', img: 'bgColor.gif'}">sub_menu_1.3</a>
	    <a class="{action: 'showMessage(\'sub_menu_1.4\')',img: 'Applet.gif'}">sub_menu_1.4</a>
	  </div>
	
	  <div id="sub_menu_2" class="mbmenu">
	    <a class="{action: 'showMessage(\'sub_menu_2.1\')', img: 'buttonfind.gif'}" target="_blank" >Layers</a>
	    <a class="{action: 'showMessage(\'sub_menu_2.2\')'}">The game wins</a>
	    <a class="{action: 'showMessage(\'sub_menu_2.3\')'}" >Infinite manas, life, tokens and combo</a>
	    <a rel="separator"> </a>
	    <a class="{img: 'buttonfind.gif'}" target="_self" >Mana pool</a>
	    <a class="{action: 'showMessage(\'sub_menu_2.5\')'}">Stack</a>
	  </div>
	
	  <div id="sub_menu_3" class="mbmenu">
	    <a class="{action: 'showMessage(\'sub_menu_3.1\')', img: 'buttonfind.gif'}" target="_blank" >Blah</a>
	    <a class="{action: 'showMessage(\'sub_menu_3.2\')'}">Blah</a>
	    <a class="{action: 'showMessage(\'sub_menu_3.3\')'}" >Blah</a>
	    <a rel="separator"> </a>
	    <a class="{img: 'buttonfind.gif'}" target="_self" >Blah</a>
	    <a class="{action: 'showMessage(\'sub_menu_3.5\')'}">Blah</a>
	  </div>
	
	  <div id="sub_menu_4" class="mbmenu">
	    <a class="{action: 'showMessage(\'sub_menu_3.1\')', img: 'buttonfind.gif'}" target="_blank" >Blah2</a>
	    <a class="{action: 'showMessage(\'sub_menu_3.2\')'}">Blah2</a>
	    <a class="{action: 'showMessage(\'sub_menu_3.3\')'}" >Blah2</a>
	    <a rel="separator"> </a>
	    <a class="{img: 'buttonfind.gif'}" target="_self" >Blah2</a>
	    <a class="{action: 'showMessage(\'sub_menu_3.5\')'}">Blah2</a>
	  </div>
	
	  <div id="box_menu" class="mbmenu boxMenu">
	    <table style="border:0;" >
	      <tr>
	        <td>
	          <div style="height:130px"><img src="/image/logoh2.gif" alt="HH" width="64"></div>
	          <a wicket:id="aboutLink">About HatychetHarry</a>
	          <a wicket:id="teamInfoLink">HatchetHarry team info</a>
	          <a target="_blank">Preferences</a>
	        </td>
	      </tr>
	    </table>
	  </div>
  </div>
  
  <!-- The mobile drop down menu -->
  <div class="dropdownmenu">
  		<img src="/image/logoh2.gif" width="32" height="32"/>
	  	<img src="/image/browse.png" id="browse" height="32" width="32"/>
  </div>
   <div class="categories">
      <ul>
        <li><a wicket:id="aboutLinkResponsive">* About HatychetHarry&nbsp;&nbsp;</a></li>
        <li><a wicket:id="teamInfoLinkResponsive">* HatchetHarry team info&nbsp;&nbsp;</a></li>
        <li><a target="_blank">* Preferences</a></li>
      </ul>
      <br/><br/>
      <ul>
        <li><a href="http://papermashup.com/category/oauth/">OAuth</a></li>
        <li><a href="http://papermashup.com/category/memcache/">Memcache</a></li>
        <li><a href="http://papermashup.com/category/css/">CSS</a></li>
        <li><a href="http://papermashup.com/category/api/javascript">JavaScript</a></li>
        <li><a href="http://papermashup.com/category/jquery/">jQuery</a></li>
        <li><a href="http://papermashup.com/category/mootools/">MooTools</a></li>
        <li><a href="http://papermashup.com/category/mobile/">Mobile</a></li>
        <li><a href="http://papermashup.com/category/iphone/">iPhone</a></li>
        <li><a href="http://papermashup.com/category/web-tools/">Web Tools</a></li>
        <li><a href="http://papermashup.com/category/frameworks/">Frameworks</a></li>
        <li><a href="http://papermashup.com/category/analytics/">Analytics</a></li>
        <li><a href="http://papermashup.com/category/social-media/">Social Media</a></li>
        <li><a href="http://papermashup.com/category/widgets/">Widgets</a></li>
        <li><a href="http://papermashup.com/category/reviews/">Reviews</a></li>
        <li><a href="http://papermashup.com/category/trends/">Trends</a></li>
        <li><a href="http://papermashup.com/category/social-networks/">Social Networks</a></li>
        <li><a href="http://papermashup.com/category/social-bookmarking/">Bookmarking</a></li>
        <li><a href="http://papermashup.com/category/facebook/">Facebook</a></li>
        <div class="clear"></div>
      </ul>
    </div>
  <!-- end menus -->
	
	<!-- Tour Content -->
    <ol id="joyRideTipContent">
      <li data-id="tour_1" data-text="Take the tour!" class="custom" data-options="tipLocation:top right;tipAnimation:fade">
        <h2>First time here?</h2>
        <p><br/>Wanna go for a ride?<br/><br/></p>
      </li>
      <li data-id="tour_2" data-text="Next" class="custom" data-options="tipLocation:top;tipAnimation:fade">
        <h2>Step #1</h2>
        <p><br/>NEW!<br/><br/> You can untap all your permanents at once using the toolbar button.<br/><br/></p>
      </li>
      <li data-id="tour_3" data-text="Next" data-options="tipLocation:bottom;tipAnimation:fade">
        <h2>Step #2</h2>
        <p><br/>NEW!<br/><br/> When you've joined a game, you'll be able to draw cards, thanks to the button in this toolbar.<br/><br/></p>
      </li>
      <li data-id="tour_4" data-text="Next" data-options="tipLocation:bottom;tipAnimation:fade">
        <h2>Step #3</h2>
        <p><br/>NEW!<br/><br/> You can play cards and the opponent will see them on the battlefield.<br/><br/></p>
      </li>
      <li data-id="tour_5" data-text="Next" data-options="tipLocation:top left;tipAnimation:fade">
        <h2><br/>Step #4</h2>
        <p><br/><br/>This is the menubar, where you'll find most of the options of HatchetHarry, logically grouped into menu entries.<br/><br/></p>
      </li>
      <li data-id="tour_6" data-text="Next" data-options="tipLocation:top left;tipAnimation:fade">
        <h2><br/>Step #5</h2>
        <p><br/><br/>This is a card. You can move it by drag and drop using the small, green handle on its left. If you do so, the opponent will see its move matched in her own browser. Additionaly, you can call a context menu by right-clicking on the card itself.<br/><br/></p>
      </li>
      <li data-id="tour_6" data-text="Next" data-options="tipLocation:top left;tipAnimation:fade">
        <h2><br/>Step #6</h2>
        <p><br/><br/>One more thing about this card: using the small green arrow on its right, you can tap and untap it.<br/><br/></p>
      </li>
      <li data-id="clock" data-text="Next" data-options="tipLocation:bottom left;tipAnimation:fade">
        <h2><br/>Step #7</h2>
        <p><br/><br/>This is the reference clock. It displays the hour on the server, so it's the same hour for every player.<br/><br/></p>
      </li>
      <li data-id="page-wrap" data-text="Next" data-options="tipLocation:bottom;tipAnimation:fade">
        <h2><br/>Step #8</h2>
        <p><br/><br/>This is your hand. You can browse the cards in it and play one of them.<br/><br/></p>
      </li>
      <li data-id="tour_9" data-text="Next" data-options="tipLocation:top left;tipAnimation:fade">
        <h2><br/>Step #9</h2>
        <p><br/><br/>This is the dock. You can show the different zones of Magic using its icons.<br/><br/></p>
      </li>
      <li data-id="tour_10" data-text="Next" data-options="tipLocation:top left;tipAnimation:fade">
        <h2><br/>Step #10</h2>
        <p><br/><br/>Hide or display your hand using this button.<br/><br/></p>
      </li>
      <li data-id="tour_11" data-text="Next" data-options="tipLocation:top left;tipAnimation:fade">
        <h2><br/>Step #11</h2>
        <p><br/><br/>Browse through your graveyard using this button. Your opponent will be notified of this action.<br/><br/></p>
      </li>
      <li data-id="tour_12" data-text="Next" data-options="tipLocation:top left;tipAnimation:fade">
        <h2><br/>Step #12</h2>
        <p><br/><br/>Browse through the exiled cards using this button. Your opponent will be notified of this action.<br/><br/></p>
      </li>                                    
      <li data-id="tour_13" data-text="Next" data-options="tipLocation:top left;tipAnimation:fade">
        <h2><br/>Step #13</h2>
        <p><br/><br/>Hide every zone of the game except the battlefield using this button. Only the permanents remain, so that you can have a vista of the game. If you click here again, the previously displayed zones will be restored, at the same places.<br/><br/></p>
      </li>
      <li data-id="tour_14" data-text="Next" data-options="tipLocation:top right;tipAnimation:fade">
        <h2><br/>Step #14</h2>
        <p><br/><br/>Browse through your library using this button. Your opponent will be notified of this action. Beware: you're supposed to play fair! Don't forget the rules of the game.<br/><br/></p>
      </li>
      <li data-id="chatPanel" data-text="Next" data-options="tipLocation:bottom;tipAnimation:fade">
        <h2><br/>Step #15</h2>
        <p><br/><br/>This is a chat. Its behavior is standard and you DON'T need to refresh your browser in order to receive new messages.<br/><br/></p>
      </li> 
      <li data-id="tour_1" data-text="Close" data-options="tipLocation:top right;tipAnimation:fade">
        <h2><br/>You're done!</h2>
        <p><br/><br/>Have fun!<br/><br/></p>
      </li> 
    </ol>
    
	<br/><br/><br/><br/><br/>
	<strong>Welcome to HatchetHarry </strong><span wicket:id="message" id="message">message will be here</span><br/><br/>

	<span wicket:id="balduParent">
		<span wicket:id="baldu" id="tour_6"></span>
	</span>
	
  	<br/><br/>
	<span wicket:id="dataBoxParent">
		<span wicket:id="dataBox"></span>
	</span>

	<div wicket:id="aboutWindow"></div>
	<div wicket:id="teamInfoWindow"></div>
	<div wicket:id="aboutWindowResponsive"></div>
	<div wicket:id="teamInfoWindowResponsive"></div>
	<a wicket:id="notifierStart" id="notifierStart"></a>
	<div wicket:id="createGameWindow"></div>
	<div wicket:id="joinGameWindow"></div>
	
	<a wicket:id="sidePlaceholderMove" id="sidePlaceholderMove"></a>
	
	<span wicket:id="secondSidePlaceholderParent"><span wicket:id="secondSidePlaceholder"></span></span>
  	
	<span align="left">
	  	<span id="header"></span>
		<span id="nav"></span>
		<span wicket:id="galleryParent" id="#">
			<span wicket:id="gallery"></span>
		</span>
	</span>
	
	<span wicket:id="firstSidePlaceholderParent"><span wicket:id="firstSidePlaceholder"></span></span>
	
	<iframe id="cometFrame" name="cometFrame" width="0" height="0" border="0" style="border-width: 0px">
    </iframe>
	
	<br/><br/><br/>
  	<span wicket:id="feedback"></span>
  	<span wicket:id="clockPanel" id="clock">Clock Panel</span>
	<br/><br/><br/>
	
	<span wicket:id="cardParent">
				<span wicket:id="playCardParentPlaceholder">
					<div wicket:id="cardPlaceholdera1"></div>
					<div wicket:id="cardPlaceholdera2"></div>
					<div wicket:id="cardPlaceholdera3"></div>
					<div wicket:id="cardPlaceholdera4"></div>
					<div wicket:id="cardPlaceholdera5"></div>
					<div wicket:id="cardPlaceholdera6"></div>
					<div wicket:id="cardPlaceholdera7"></div>
					<div wicket:id="cardPlaceholdera8"></div>
					<div wicket:id="cardPlaceholdera9"></div>
					<div wicket:id="cardPlaceholdera10"></div>
					<div wicket:id="cardPlaceholdera11"></div>
					<div wicket:id="cardPlaceholdera12"></div>
					<div wicket:id="cardPlaceholdera13"></div>
					<div wicket:id="cardPlaceholdera14"></div>
					<div wicket:id="cardPlaceholdera15"></div>
					<div wicket:id="cardPlaceholdera16"></div>
					<div wicket:id="cardPlaceholdera17"></div>
					<div wicket:id="cardPlaceholdera18"></div>
					<div wicket:id="cardPlaceholdera19"></div>
					<div wicket:id="cardPlaceholdera20"></div>
					<div wicket:id="cardPlaceholdera21"></div>
					<div wicket:id="cardPlaceholdera22"></div>
					<div wicket:id="cardPlaceholdera23"></div>
					<div wicket:id="cardPlaceholdera24"></div>
					<div wicket:id="cardPlaceholdera25"></div>
					<div wicket:id="cardPlaceholdera26"></div>
					<div wicket:id="cardPlaceholdera27"></div>
					<div wicket:id="cardPlaceholdera28"></div>
					<div wicket:id="cardPlaceholdera29"></div>
					<div wicket:id="cardPlaceholdera30"></div>
					<div wicket:id="cardPlaceholdera31"></div>
					<div wicket:id="cardPlaceholdera32"></div>
					<div wicket:id="cardPlaceholdera33"></div>
					<div wicket:id="cardPlaceholdera34"></div>
					<div wicket:id="cardPlaceholdera35"></div>
					<div wicket:id="cardPlaceholdera36"></div>
					<div wicket:id="cardPlaceholdera37"></div>
					<div wicket:id="cardPlaceholdera38"></div>
					<div wicket:id="cardPlaceholdera39"></div>
					<div wicket:id="cardPlaceholdera40"></div>
					<div wicket:id="cardPlaceholdera41"></div>
					<div wicket:id="cardPlaceholdera42"></div>
					<div wicket:id="cardPlaceholdera43"></div>
					<div wicket:id="cardPlaceholdera44"></div>
					<div wicket:id="cardPlaceholdera45"></div>
					<div wicket:id="cardPlaceholdera46"></div>
					<div wicket:id="cardPlaceholdera47"></div>
					<div wicket:id="cardPlaceholdera48"></div>
					<div wicket:id="cardPlaceholdera49"></div>
					<div wicket:id="cardPlaceholdera50"></div>
					<div wicket:id="cardPlaceholdera51"></div>
					<div wicket:id="cardPlaceholdera52"></div>
					<div wicket:id="cardPlaceholdera53"></div>
					<div wicket:id="cardPlaceholdera54"></div>
					<div wicket:id="cardPlaceholdera55"></div>
					<div wicket:id="cardPlaceholdera56"></div>
					<div wicket:id="cardPlaceholdera57"></div>
					<div wicket:id="cardPlaceholdera58"></div>
					<div wicket:id="cardPlaceholdera59"></div>
					<div wicket:id="cardPlaceholdera60"></div>
					
					<div wicket:id="cardPlaceholderb1"></div>
					<div wicket:id="cardPlaceholderb2"></div>
					<div wicket:id="cardPlaceholderb3"></div>
					<div wicket:id="cardPlaceholderb4"></div>
					<div wicket:id="cardPlaceholderb5"></div>
					<div wicket:id="cardPlaceholderb6"></div>
					<div wicket:id="cardPlaceholderb7"></div>
					<div wicket:id="cardPlaceholderb8"></div>
					<div wicket:id="cardPlaceholderb9"></div>
					<div wicket:id="cardPlaceholderb10"></div>
					<div wicket:id="cardPlaceholderb11"></div>
					<div wicket:id="cardPlaceholderb12"></div>
					<div wicket:id="cardPlaceholderb13"></div>
					<div wicket:id="cardPlaceholderb14"></div>
					<div wicket:id="cardPlaceholderb15"></div>
					<div wicket:id="cardPlaceholderb16"></div>
					<div wicket:id="cardPlaceholderb17"></div>
					<div wicket:id="cardPlaceholderb18"></div>
					<div wicket:id="cardPlaceholderb19"></div>
					<div wicket:id="cardPlaceholderb20"></div>
					<div wicket:id="cardPlaceholderb21"></div>
					<div wicket:id="cardPlaceholderb22"></div>
					<div wicket:id="cardPlaceholderb23"></div>
					<div wicket:id="cardPlaceholderb24"></div>
					<div wicket:id="cardPlaceholderb25"></div>
					<div wicket:id="cardPlaceholderb26"></div>
					<div wicket:id="cardPlaceholderb27"></div>
					<div wicket:id="cardPlaceholderb28"></div>
					<div wicket:id="cardPlaceholderb29"></div>
					<div wicket:id="cardPlaceholderb30"></div>
					<div wicket:id="cardPlaceholderb31"></div>
					<div wicket:id="cardPlaceholderb32"></div>
					<div wicket:id="cardPlaceholderb33"></div>
					<div wicket:id="cardPlaceholderb34"></div>
					<div wicket:id="cardPlaceholderb35"></div>
					<div wicket:id="cardPlaceholderb36"></div>
					<div wicket:id="cardPlaceholderb37"></div>
					<div wicket:id="cardPlaceholderb38"></div>
					<div wicket:id="cardPlaceholderb39"></div>
					<div wicket:id="cardPlaceholderb40"></div>
					<div wicket:id="cardPlaceholderb41"></div>
					<div wicket:id="cardPlaceholderb42"></div>
					<div wicket:id="cardPlaceholderb43"></div>
					<div wicket:id="cardPlaceholderb44"></div>
					<div wicket:id="cardPlaceholderb45"></div>
					<div wicket:id="cardPlaceholderb46"></div>
					<div wicket:id="cardPlaceholderb47"></div>
					<div wicket:id="cardPlaceholderb48"></div>
					<div wicket:id="cardPlaceholderb49"></div>
					<div wicket:id="cardPlaceholderb50"></div>
					<div wicket:id="cardPlaceholderb51"></div>
					<div wicket:id="cardPlaceholderb52"></div>
					<div wicket:id="cardPlaceholderb53"></div>
					<div wicket:id="cardPlaceholderb54"></div>
					<div wicket:id="cardPlaceholderb55"></div>
					<div wicket:id="cardPlaceholderb56"></div>
					<div wicket:id="cardPlaceholderb57"></div>
					<div wicket:id="cardPlaceholderb58"></div>
					<div wicket:id="cardPlaceholderb59"></div>
					<div wicket:id="cardPlaceholderb60"></div>
		</span>
	</span>
		
	
	<span wicket:id="cardPlaceholder"></span>
	
	<span id="tour_9">
		<div id="dock">
			<ul>
				<li>
					<a wicket:id="handLink" title="Hand" id="tour_10">
				    	<img src="/image/hand.gif" alt="Hand" title="Hand"/>
		    		</a>
		    	</li>
		    	<li>
				    <a title="Graveyard" id="tour_11">
				    	<img src="/image/graveyard.gif" alt="Graveyard" title="Graveyard"/>
				    </a>
				</li>
				<li>
				    <a title="Exiled" id="tour_12">
				    	<img src="/image/exiled.gif" alt="Exiled" title="Exiled"/>
				    </a>
				</li>
				<li>
				    <a title="Battlefield" id="tour_13">
				    	<img src="/image/battlefield.gif" alt="Battlefield" />
				    </a>
				</li>
				<li>
				    <a title="Library" id="tour_14">
					    <img src="/image/library.gif" alt="Library"  title="Library"/>
				    </a>
				</li>
			</ul>
	  	</div>
  	</span>
  	<br/>
	
  	<span>

  		<span wicket:id="chatPanel" id="chatPanel">Chat Panel</span>

  		<h2 id="qunit-header">QUnit example</h2>
		<h2 id="qunit-banner"></h2>
		<div id="qunit-testrunner-toolbar"></div>
		<h2 id="qunit-userAgent"></h2>
		<ol id="qunit-tests"></ol>
		<div id="qunit-fixture">test markup, will be hidden</div>

		<br/>

    	<form wicket:id="runForm">
      		Name of suite or test to run: 
      		<input wicket:id="testClassName" type="text" size="70"></input>
      		<input type="submit" value="Run"></input>
    	</form>
    </span>

  <div style="width:40em; min-width:40em;">
    <table wicket:id="summary">    
      <tr>
        <td wicket:id="runsSummary">Total tests: 1</td>
        <td wicket:id="errorsSummary">Errors/Failures: 12</td>
      </tr>
      <tr>
        <td wicket:id="summaryInColor" colspan="2" class="summaryBox"></td>
      </tr>
      <tr><td style="line-height: 5px;">&nbsp;</td></tr>
    </table>
  </div>
  
  <div wicket:id="node" class="testReport"></div>


	<!-- The toolbar -->
	<div id="content"> 
	</div>

	<a wicket:id="untapAllPage" id="untapAll"></a>
 
 	<div id="tour_2">
 	<div id="tour_3">
 	<div id="tour_4">
		<div id="floatingbar"> 
	
	         <ul class="gallery clearfix">
					<li wicket:id="untapAndDrawPlaceholder" class="toolbarLink" title="Untap your permanents & draw a card " style="cursor: pointer">
						<a wicket:id="untapAndDrawLink" id="twitterlink"><img class="toolbarIcon" src="image/tweet.png"></img> Untap & draw</a>
					</li>
					
					<li wicket:id="untapAllPlaceholder" class="toolbarLink" title="Untall all your permanents" style="cursor: pointer">
						<a wicket:id="untapAllLink"><span><img class="toolbarIcon" src="image/googlebuzz.png"></img> Untap all</span></a>
					</li>
					
					<li rel="prettyPhoto[iframe]" style="cursor: pointer">
						<a wicket:id="drawCardLink" class="toolbarLink tour_2" title="Draw a card ">
							<img class="toolbarIcon" src="image/youtube.png"></img>
							 Draw a card
						</a>
					</li>
					
					<li wicket:id="playCardPlaceholder" class="toolbarLink" title="Play the card currently shown in your hand" style="cursor: pointer">
						<a wicket:id="playCardLink"><img style="color: white;" src="image/playCard.png"> Play card</img></a>
					</li>
					
					<li wicket:id="combatPlaceholder" class="toolbarLink" title="Start and end combat phase" style="cursor: pointer">
						<a wicket:id="combatLink" id="combatlink"><img class="toolbarIcon" src="image/battle.png"></img> Declare combat</a>
					</li>
					
					<li wicket:id="endTurnPlaceholder" class="toolbarLink" title="Put an end to your turn" style="cursor: pointer">
						<a wicket:id="endTurnLink" class="#"><img class="toolbarIcon" src="image/contact.png"></img> End of turn</a>
						<span wicket:id="notifierPanel"></span>
					</li>
					
			</ul>
	
		</div> 
	</div>
	</div>
	</div>
</body>
</html>
