<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head profile="http://www.w3.org/2005/10/profile">
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
	<title>HatchetHarry - Ad augusta per angusta</title>
	
	<link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://code.jquery.com/qunit/git/qunit.css" type="text/css"/>
	
	<link rel="shortcut icon" href="http://hatchetharry.net/favicon.ico" />
    
</head>
<body class="myBody" id="yahoo-com">
  <span id="tour_1"></span>
  <span id="tour_128"></span>
  <span wicket:id="headResources"></span>
  
  <!-- Menus -->
  
  <!-- The main (desktop) menu bar -->
  <span>
  <ul id="jMenu">
	  <li><a><img src="/image/logoh1.gif" alt="HH" width="32" class="fNiv"/>&nbsp;&nbsp;&nbsp;&nbsp;</a><!-- Do not forget the "fNiv" class for the first level links !! -->
	    
			 	<ul>
			 		<li class="arrow"></li>
					<li>
			          <div style="height:130px"><img src="/image/logoh2.gif" alt="HH" width="64" class="logoEntry"/></div>
					</li>
					<li class="myfont"><a wicket:id="aboutLink"><img src="/image/about.png" alt="About HatchetHarry" class="imageEntry"/>&nbsp;&nbsp;About HatchetHarry</a>
					</li>
			        <li class="myfont"><a wicket:id="teamInfoLink"><img src="/image/team info.png" alt="team info" class="imageEntry"/>&nbsp;&nbsp;HatchetHarry team info</a>
					</li>
			        <li class="myfont"><a>Preferences</a>
					</li>
				</ul>
	  </li>
	  <li class="fNiv"><a class="myfont">Game&nbsp;&nbsp;&nbsp;&nbsp;</a>
		  
			  	<ul>
			  		<li class="myfont"><a wicket:id="createGameLink">
						<img src="/image/create game.png" alt="create" class="imageEntry"/>&nbsp;&nbsp;Create a game
				    	</a>
					</li>
					<li class="myfont"><a wicket:id="joinGameLink">
						<img src="/image/join game.png" alt="join" class="imageEntry"/>&nbsp;&nbsp;Join a game
						</a>
					</li>
					<li class="myfont"><a wicket:id="importDeckLink">
				        <img src="/image/import deck.png" alt="import" class="imageEntry"/>&nbsp;&nbsp;Import a deck
				    	</a>
					</li>
					<li class="myfont"><a wicket:id="resetDbLink">Reset database</a>
					</li>
					<li class="myfont"><a wicket:id="hideAllTooltipsLink">Hide all tooltips</a>
					</li>
				</ul>
	  </li>
	  <li class="fNiv"><a class="myfont">Zones&nbsp;&nbsp;&nbsp;&nbsp;</a>
			 	<ul>
			        <li class="myfont"><a wicket:id="playCardFromGraveyardLink"><img src="/image/play from graveyard.png" alt="Play card from graveyard" class="imageEntry"/>&nbsp;&nbsp;Play card from graveyard</a>
					</li>
					<li class="myfont"><a wicket:id="revealTopLibraryCardLink">
				        	<img src="/image/Library Folder.png" alt="Reveal top card of your library" class="imageEntry"/>&nbsp;&nbsp;Reveal top card of your library
				    	</a>
					</li>
					<li class="myfont"><a wicket:id="countCardsLink">
				        <img src="/image/count cards.png" alt="Count all cards" class="imageEntry"/>&nbsp;&nbsp;Count all cards
				    	</a>
					</li>
				</ul>
	  </li>
  </ul>
	<br/>
	<img id="putToHand" src="image/hand.jpg" alt="Put back to hand" title="Drag a card here to put it back to hand" style="border-color: white; border-width: 1px; border-style: solid;">&nbsp;&nbsp;
	<img id="putToGraveyard" src="image/graveyard.jpg" alt="Put back to graveyard" title="Drag a card here to put it back to graveyard" style="border-color: white; border-width: 1px; border-style: solid;">
  </span>

  <!-- The mobile drop down menu -->
  <div class="dropdownmenu">
  		<img src="/image/logoh1.gif" width="32" height="32"/>
	  	<img src="/image/browse.png" id="browse" height="32" width="32"/>
  </div>
   <div class="categories">
      <ul>
        <li class="myfont"><a wicket:id="aboutLinkResponsive">* About HatychetHarry&nbsp;&nbsp;</a></li>
        <li class="myfont"><a wicket:id="teamInfoLinkResponsive">* HatchetHarry team info&nbsp;&nbsp;</a></li>
        <li class="myfont"><a target="_blank">* Preferences</a></li>
      </ul>
      <br/><br/>
      <ul>
        <li><a href="http://papermashup.com/category/oauth/">OAuth</a></li>
        <li><a href="http://papermashup.com/category/memcache/">Memcache</a></li>
        <li><a href="http://papermashup.com/category/css/">CSS</a></li>
        <li><a href="http://papermashup.com/category/api/javascript">JavaScript</a></li>
        <li><a href="http://papermashup.com/category/jquery/">jQuery</a></li>
        <li><a href="http://papermashup.com/category/mootools/">MooTools</a></li>
        <li><a href="http://papermashup.com/category/mobile/">Mobile</a></li>
        <li><a href="http://papermashup.com/category/iphone/">iPhone</a></li>
        <li><a href="http://papermashup.com/category/web-tools/">Web Tools</a></li>
        <li><a href="http://papermashup.com/category/frameworks/">Frameworks</a></li>
        <li><a href="http://papermashup.com/category/analytics/">Analytics</a></li>
        <li><a href="http://papermashup.com/category/social-media/">Social Media</a></li>
        <li><a href="http://papermashup.com/category/widgets/">Widgets</a></li>
        <li><a href="http://papermashup.com/category/reviews/">Reviews</a></li>
        <li><a href="http://papermashup.com/category/trends/">Trends</a></li>
        <li><a href="http://papermashup.com/category/social-networks/">Social Networks</a></li>
        <li><a href="http://papermashup.com/category/social-bookmarking/">Bookmarking</a></li>
        <li><a href="http://papermashup.com/category/facebook/">Facebook</a></li>
        <div class="clear"></div>
      </ul>
    </div>
  <!-- end menus -->
    
	<br/><br/><br/><br/><br/>
	<br/><br/><br/><br/><br/>
	<span wicket:id="balduParent" id="tour_6">
		<span wicket:id="baldu"></span>
	</span>
	<br/><br/>
	<h3><strong class="myfont">Welcome to HatchetHarry
			<span wicket:id="message1" id="message1" class="myfont">message will be here</span><br/>
			<span wicket:id="message2" id="message2" class="myfont">message will be here</span>
		</strong>
	</h3>
	<br/><br/>
	<span id="tour_9">
		<div id="dock">
					<a wicket:id="handLink" title="Hand" id="tour_10">
				    	<img src="/image/hand.gif" alt="Hand" title="Hand"/>
		    		</a>
				    <a wicket:id="graveyardLink" title="Graveyard" id="tour_11">
				    	<img src="/image/graveyard.gif" alt="Graveyard" title="Graveyard"/>
				    </a>
				    <a title="Exiled" id="tour_12">
				    	<img src="/image/exiled.gif" alt="Exiled" title="Exiled"/>
				    </a>
				    <a title="Battlefield" id="tour_13">
				    	<img src="/image/battlefield.gif" alt="Battlefield" />
				    </a>
				    <a title="Library" id="tour_14">
					    <img src="/image/library.gif" alt="Library"  title="Library"/>
				    </a>
	  	</div>
  	</span>
  	<br/>
	<br/>
	<br/>
  	<br/><br/>
	<span wicket:id="dataBoxParent" class="myfont">
		<span wicket:id="dataBox"></span>
	</span><br/>
	<span wicket:id="clockPanel" id="clock" class="myfont">Clock Panel</span><br/>
	<span wicket:id="chatPanel">Chat Panel</span>
	
	<div wicket:id="aboutWindow"></div>
	<div wicket:id="teamInfoWindow"></div>
	<div wicket:id="aboutWindowResponsive"></div>
	<div wicket:id="teamInfoWindowResponsive"></div>

	<div wicket:id="createGameWindow"></div>
	<div wicket:id="joinGameWindow"></div>
	<div wicket:id="importDeckWindow"></div>
	<div wicket:id="revealTopLibraryCardWindow"></div>
	<div wicket:id="countCardsWindow"></div>
	
	<span wicket:id="secondSidePlaceholderParent"><span wicket:id="secondSidePlaceholder"></span></span>
  	
	<span align="left">
	  	<span id="header"></span>
		<span id="nav"></span>
		<span wicket:id="galleryParent" id="#">
			<span wicket:id="gallery"></span>
		</span>
		<span wicket:id="graveyardParent" id="#">
			<span wicket:id="graveyard"></span>
		</span>
	</span>
	
	<span wicket:id="firstSidePlaceholderParent"><span wicket:id="firstSidePlaceholder"></span></span>
	
	<iframe id="cometFrame" name="cometFrame" width="0" height="0" border="0" style="border-width: 0px">
    </iframe>
	
	<div wicket:id="parentPlaceholder">
			<table>
				<tr wicket:id="handCards">
					<td wicket:id="cardPanel"></td>
				</tr>
			</table>
	</div>
		
	
	<span wicket:id="cardPlaceholder"></span>
	
  	<span>
  		<h2 id="qunit-header">HH QUnit tests</h2>
		<h2 id="qunit-banner"></h2>
		<div id="qunit-testrunner-toolbar"></div>
		<h2 id="qunit-userAgent"></h2>
		<ol id="qunit-tests"></ol>
		<div id="qunit-fixture">test markup, will be hidden</div>

		<br/>
		<div wicket:id="parent">
  			<span wicket:id="feedback"></span>
	    	<form wicket:id="runFormMistletoe">
	      		<span class="myfont">Name of Mistletoe suite or test to run: </span> 
	      		<input wicket:id="testClassName" type="text" size="70" class="myfont"></input>
	      		<input wicket:id="runMistletoe" type="submit" value="Run" id="runMistletoe" class="myfont"></input>
	    	</form>
			  <div style="width:40em; min-width:40em;">
			    <table wicket:id="summary">    
			      <tr>
			        <td wicket:id="runsSummary">Total tests: 1</td>
			        <td wicket:id="errorsSummary">Errors/Failures: 12</td>
			      </tr>
			      <tr>
			        <td wicket:id="summaryInColor" colspan="2" class="summaryBox"></td>
			      </tr>
			      <tr><td style="line-height: 5px;">&nbsp;</td></tr>
			    </table>
			  </div>
			  
			  <div wicket:id="node" class="testReport"></div>
		</div>
    </span>



	<!-- The toolbar -->
	<div id="content"> 
	</div>

 	<div>
		<div id="floatingbar"> 
	
	         <ul class="gallery clearfix">
					<li wicket:id="untapAndDrawPlaceholder" title="Untap your permanents & draw a card">
						<a wicket:id="untapAndDrawLink" id="twitterlink" style="cursor: pointer; color: white"><img src="image/tweet.png"></img> Untap & draw</a>
					</li>
					
					<li id="untapAllPlaceholder" wicket:id="untapAllPlaceholder" title="Untall all your permanents">
						<a wicket:id="untapAllLink" style="cursor: pointer; color: white;"><span><img src="image/googlebuzz.png"></img> Untap</span></a>
					</li>
					
					<li rel="prettyPhoto[iframe]" id="tour_3">
						<a wicket:id="drawCardLink" title="Draw a card " style="cursor: pointer; color: white;">
							<img src="image/youtube.png"></img>
							 Draw
						</a>
					</li>
					
					<li wicket:id="playCardPlaceholder" title="Play the card currently shown in your hand">
						<a wicket:id="playCardLink" style="cursor: pointer; color: white;"><img src="image/playCard.png"> Play</img></a>
					</li>
					
					<li wicket:id="combatPlaceholder" title="Start and end combat phase">
						<a wicket:id="combatLink" id="combatlink" style="cursor: pointer; color: white;"><img src="image/battle.png"></img> Combat</a>
					</li>
					
					<li wicket:id="endTurnPlaceholder" title="Put an end to your turn">
						<a wicket:id="endTurnLink" style="cursor: pointer; color: white;"><img src="image/contact.png"></img> End turn</a>
					</li>
										
					<li wicket:id="endTurnActionPlaceholder" title="Play an action at the end of opponent's turn">
						<a wicket:id="endTurnActionLink" style="cursor: wait; color: black;"><img src="image/endOfTurnAction.png"></img> End turn action</a>
					</li>
															
					<li wicket:id="acceptEndTurnPlaceholder" title="Accept the end of opponent's turn">
						<a wicket:id="acceptEndTurnLink" style="cursor: wait; color: black;"><img src="image/acceptEndOfTurn.png"></img> Accept end turn</a>
					</li>
			</ul>
	
		</div> 
	</div>
	
	<!-- Tour Content -->
    <ul id="tlyPageGuide" data-tourtitle="First time here? Wanna go for a ride?" class="myfont">
      <li data-tourtarget="#untapAllPlaceholder" class="tlypageguide_top">
        <div>You can untap all your permanents at once using the toolbar button.<br/><br/></div>
      </li>
      <li data-tourtarget="#tour_3" class="tlypageguide_top">
        <div>When you've joined a game, you'll be able to draw cards, thanks to the button in this toolbar.<br/><br/></div>
      </li>
      <li data-tourtarget="#playCardPlaceholder0" class="tlypageguide_top">
        <div>You can play cards and the opponent will see them on the battlefield.<br/><br/></div>
      </li>
      <li data-tourtarget="#jMenu" class="tlypageguide_bottom">
        <div>This is the menubar, where you'll find most of the options of HatchetHarry, logically grouped into menu entries.<br/><br/></div>
      </li>
      <li data-tourtarget="#tour_6" class="tlypageguide_right">
        <div>This is a card. You can move it by drag and drop using the small, green handle on its left. If you do so, the opponent will see its move matched in her own browser. Additionaly, you can call a context menu by right-clicking on the card itself.<br/><br/></div>
      </li>
      <li data-tourtarget="#tour_6" class="tlypageguide_top">
        <div>One more thing about this card: using the small green arrow on its right, you can tap and untap it.<br/><br/></div>
      </li>
      <li data-tourtarget="#clock" class="tlypageguide_right">
        <div>This is the reference clock. It displays the hour on the server, so it's the same hour for every player.<br/><br/></div>
      </li>
      <li data-tourtarget="#page-wrap" class="tlypageguide_right">
        <div>This is your hand. You can browse the cards in it and play one of them.<br/><br/></div>
      </li>
      <li data-tourtarget="#tour_9" class="tlypageguide_top">
        <div>This is the dock. You can show the different zones of Magic using its icons.<br/><br/></div>
      </li>
      <li data-tourtarget="#tour_10" class="tlypageguide_bottom">
        <div>Hide or display your hand using this button.<br/><br/></div>
      </li>
      <li data-tourtarget="#tour_11" class="tlypageguide_bottom">
        <div>Browse through your graveyard using this button. Your opponent will be notified of this action.<br/><br/></div>
      </li>
      <li data-tourtarget="#tour_12" class="tlypageguide_bottom">
        <div>Browse through the exiled cards using this button. Your opponent will be notified of this action.<br/><br/></div>
      </li>                                    
      <li data-tourtarget="#tour_13" class="tlypageguide_bottom">
        <div>Hide every zone of the game except the battlefield using this button. Only the permanents remain, so that you can have a vista of the game. If you click here again, the previously displayed zones will be restored, at the same places.<br/><br/></div>
      </li>
      <li data-tourtarget="#tour_14" class="tlypageguide_bottom">
        <div>Browse through your library using this button. Your opponent will be notified of this action. Beware: you're supposed to play fair! Don't forget the rules of the game.<br/><br/></div>
      </li>
      <li data-tourtarget="#chat" class="tlypageguide_top">
        <div>This is a chat. Its behavior is standard and you DON'T need to refresh your browser in order to receive new messages.<br/><br/></div>
      </li> 
      <li data-tourtarget="#tour_1" class="tlypageguide_right">
        <div><h2>You're done!</h2><br/><br/>Have fun!<br/><br/></div>
      </li> 
    </ul>
	
</body>
</html>
