<wicket:panel>

    <div style="position:absolute; left: 15%;">
        <br/>

        <form wicket:id="form" action="" class="myfont">
            <span wicket:id="mulliganLabel" class="myfont"></span><br/><br/>
            <button wicket:id="agree" type="submit" class="myfont">OK</button>
            &nbsp;&nbsp;
            <button wicket:id="oneLess" type="submit" class="myfont">OK, but with one card less</button>
            &nbsp;&nbsp;
            <button wicket:id="disagree" type="submit" class="myfont">No</button>
        </form>
    </div>
</wicket:panel>