<wicket:panel>

    <div style="position:absolute; left: 28%;">
        <br/>
        <img wicket:id="topLibraryCard" style="position: relative; left: 35%;"></img>
        <br/>
        <br/>
        <br/>

        <form wicket:id="form" action="" class="myfont">
            <span wicket:id="typeLabel" class="myfont"></span> &nbsp;<input wicket:id="type" type="text"
                                                                            class="myfont"></input>
            <br/>
            <span wicket:id="powerLabel" class="myfont"></span> &nbsp;<input wicket:id="power" type="text"
                                                                             class="myfont"></input>
            <br/>
            <span wicket:id="toughnessLabel" class="myfont"></span> &nbsp;<input wicket:id="toughness" type="text"
                                                                                 class="myfont"></input>
            <br/>
            <span wicket:id="colorsLabel" class="myfont"></span> &nbsp;<input wicket:id="colors" type="text"
                                                                              class="myfont"></input>
            <br/>
            <span wicket:id="capabilitiesLabel" class="myfont"></span> &nbsp;<input wicket:id="capabilities" type="text"
                                                                                    class="myfont"></input>
            <br/>
            <span wicket:id="creatureTypesLabel" class="myfont"></span> &nbsp;<input wicket:id="creatureTypes"
                                                                                     type="text" class="myfont"></input>
            <br/>
            <span wicket:id="descriptionLabel" class="myfont"></span> &nbsp;<input wicket:id="description" type="text"
                                                                                   class="myfont"></input>
            <br/>
            <br/>
            <button wicket:id="createToken" type="submit" class="myfont">Put this token on battlefield</button>
            <br/>
            <br/>
            <button wicket:id="cancel" type="submit" class="myfont">Cancel</button>

        </form>
    </div>

</wicket:panel>