<wicket:panel>

    <div style="position:absolute; left: 15%;">
        <form wicket:id="form" action="" class="myfont">

            <br/><br/>

            <span wicket:id="nameLabel">Your name</span><input wicket:id="name" type="text" class="myfont"></input>
            <br/><br/>
            <br/><br/>
            <span wicket:id="sideLabel">Your side</span><select wicket:id="sideInput" class="myfont"></select>
            <br/><br/>
            <br/><br/>
            <span wicket:id="chooseDeck">Choose a deck</span>
            <br/><br/>
			<span wicket:id="deckParent">
				<select wicket:id="decks" class="myfont"></select>
			</span>
            <br/><br/>
            <br/><br/>
			<span>Desired format: </span><select wicket:id="formats" class="myfont"></select>
            <br/><br/>
            <br/><br/>
			<span>Number of players looked after: </span><input wicket:id="numberOfPlayers" class="myfont"></input>
            <br/><br/>
            <br/><br/>
            <b><span wicket:id="beforeGameId">pre message</span><span wicket:id="gameId">Id of the Game</span><span
                    wicket:id="afterGameId">post message</span><br/><br/></b>
            <br/><br/>
            <button wicket:id="submit" type="submit" class="myfont">OK</button>

        </form>
    </div>

</wicket:panel>