<html xmlns:wicket>
<wicket:panel>

    <form wicket:id="form" action="" class="myfont" style="position:relative; top:450px; left: 15px; z-index: 2;">

        <label wicket:id="targetZoneLabel" for="targetZoneInput" class="myfont black">Put card to: <br/>
					<span wicket:id="targetZoneGroup">
						<select wicket:id="targetZoneInput" class="myfont black myselect"></select>&nbsp;<br/><br/>
					</span>
        </label><br/>
        <a wicket:id="submit" style="cursor: pointer;" class="myfont black">Send</a>
        <img wicket:id="indicator" style="display:none; position: absolute; left: 45px; top: 100px;"/>
        <br/>
    </form>

</wicket:panel>
</html>